$slate-50:#f8fafc;
$slate-100:#f1f5f9;
$slate-200:#e2e8f0;
$slate-300:#cbd5e1;
$slate-400:#94a3b8;
$slate-500:#64748b;
$slate-600:#475569;
$slate-700:#334155;
$slate-800:#1e293b;
$slate-900:#0f172a;
$green-text:rgb(7, 242, 7);
$red-text:rgb(255, 49, 49);
$transition-time:0.2s;


body{
    background-color:$slate-900;
    color:$slate-300;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}

#root{
    display:flex;
    flex-direction:column;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:2rem;
    padding-right:2rem;
    ul {
        display:flex;
        align-items:center;
        list-style-type: none;
        gap:1rem;
    }
}

#octolog-link{
    color:$slate-300;
    text-decoration:none;
    font-size:3rem;
    transition: $transition-time;
    &:hover{
        color:$slate-400;
    }
}

#addLog-link{
    background-color:$slate-400;
    text-decoration:none;
    padding:0.5rem;
    border-radius:0.5rem;
    color:$slate-800;
    transition:$transition-time;
    font-weight:400;
    &:hover{
        background-color:$slate-300;
    }
    &:active{
        background-color:$slate-400
    }
}

.nav-btn{
    text-decoration:none;
    color:$slate-300;
    transition:$transition-time;
    &:hover{
        color:$slate-400;
    }
}

.log-container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    gap:0.5rem;
}

#createdBy-span{
    grid-area: createdBy;
    span{
        color:$slate-200;
    }
}
#timeIn-span{
    grid-area: timeIn;
    span{
        color:$green-text;
    }
}
#timeOut-span{
    grid-area:timeOut;
    span{
        color:$red-text;
    }
}
#diveTime-span{
    grid-area:diveTime;
    span{
        color:$green-text;
    }
}
#diveSite-span{
    grid-area:diveSite;
    span{
        color:$slate-200;
    }
}
#maxDepth-span{
    grid-area:maxDepth;
    span{
        color:$green-text;
    }
}
#avgDepth-span{
    grid-area:avgDepth;
    span{
        color:$green-text;
    }
}
#temp-span{
    grid-area:temp;
    span{
        color:$green-text;
    }
}
#tankStart-span{
    grid-area:tankStart;
    span{
        color:$green-text;
    }
}
#tankEnd-span{
    grid-area:tankEnd;
    span{
        color:$red-text;
    }
}
#airUsed-span{
    grid-area:airUsed;
    span{
        color:$green-text;
    }
}
#buddies-span{
    grid-area:buddies;
    span{
        color:$slate-200;
    }
}
#logBtns-span{
    grid-area:logBtns;
}
#diveComments-span{
    grid-area:diveComments;
    span{
        color:$slate-200;
    }
}

.log{
    background-color:$slate-800;
    border-radius:1.5rem;
    padding:1rem;
    width:90%;
    margin: 1rem;
    .log-data{
        color:$slate-400;
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "createdBy timeIn timeOut diveTime"
        "diveSite maxDepth avgDepth temp"
        "tankStart tankEnd airUsed buddies"
        "logBtns diveComments diveComments diveComments";
        .log-edit-delete{
            display:flex;
            justify-items:space-evenly;
            align-items:center;
            gap:0.5rem;
            .log-delete-btn{
                background-color:$slate-700;
                color:$slate-500;
                border-radius:0.5rem;
                padding:0.5rem;
                transition:$transition-time;
                &:hover{
                    background-color:$slate-600;
                    cursor:pointer;
                }
            }
            .log-edit-btn{
                background-color:$slate-600;
                color:$slate-300;
                border-radius:0.5rem;
                padding:0.5rem;
                transition:$transition-time;
                text-decoration:none;
                &:hover{
                    background-color:$slate-500;
                    cursor:pointer;
                }
            }
        }
    }
}

.add-log, .update-log{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.form{
    background-color:$slate-800;
    color:$slate-400;
    border-radius:1.5rem;
    padding:3rem;
    input, textarea{
        background-color:$slate-300;
        color:$slate-700;
        border:none;
        border-radius:0.25rem;
        padding:0.25rem;
    }
    .submit-btn{
        border:none;
        background-color:$slate-300;
        color:$slate-700;
        transition:$transition-time;
        &:hover{
            background-color:$slate-400;
        }
    }
}

/* Chrome, Safari, Edge, Opera remove arrows from number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

