$slate-50:#f8fafc;
$slate-100:#f1f5f9;
$slate-200:#e2e8f0;
$slate-300:#cbd5e1;
$slate-400:#94a3b8;
$slate-500:#64748b;
$slate-600:#475569;
$slate-700:#334155;
$slate-800:#1e293b;
$slate-900:#0f172a;
$green-400: #4ade80;
$green-500:#22c55e;
$red-400:#f87171;
$violet-400:#a78bfa;
$amber-400:#fbbf24;
$transition-time:0.2s;
$amber-500:#d8bf73;


body{
    background-color:$slate-900;
    color:$slate-300;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    margin:0;
}

#root{
    display:flex;
    flex-direction:column;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:3rem;
    padding-right:3rem;
    ul {
        display:flex;
        align-items:center;
        list-style-type: none;
        gap:1rem;
    }
}

#octolog-link{
    color:$slate-300;
    text-decoration:none;
    font-size:3rem;
    transition: $transition-time;
    &:hover{
        color:$slate-400;
    }
}

#addLog-link{
    background-color:$slate-400;
    text-decoration:none;
    padding:0.5rem;
    border-radius:0.5rem;
    color:$slate-800;
    transition:$transition-time;
    font-weight:400;
    &:hover{
        background-color:$slate-300;
    }
    &:active{
        background-color:$slate-400
    }
}

.nav-btn{
    text-decoration:none;
    color:$slate-300;
    transition:$transition-time;
    &:hover{
        color:$slate-400;
    }
}

.login-page{
    display:flex;
    justify-content:space-between;
    align-items:stretch;
    height:100vh;
    margin:0;
    gap:0;
    padding:0;
    .login-left{
        background-color:$slate-700;
        flex-grow:1;
        display:flex;
        justify-content:center;
        align-items:center;
        width:600px;
    }
    .login-right{
        background-color:$slate-900;
        flex-grow:2;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        .login-form{
            background-color:$slate-800;
            border-radius:1.5rem;
            display:flex;
            flex-direction:column;
            padding:3rem;
            justify-content:space-evenly;
            align-items:center;
            gap:1rem;
            input{
                border:none;
                border-radius:0.25rem;
                padding:0.25rem;
            }
            .input-container{
                input{
                    padding:0.5rem;
                    color:$slate-800;
                    background-color:$slate-100;
                }
            }
            .button-container{
                input{
                    background-color:$slate-300;
                    color:$slate-800;
                    border:none;
                    padding:0.5rem 1rem;
                    &:hover{
                        background-color:$slate-400;
                    }
                }
            }
        }
    }
    
}

.login-success{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:0.5rem;
    color:$green-400;
}

.error{
    color:$red-400;
}



.input-container{
    display:flex;
    gap:1rem;
    justify-content:space-between;
    align-items:center;
}

.pw-signup-container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    gap:0.5rem;
    margin-top:1rem;
    span{
        font-size:0.75rem;
    }
}
main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:stretch;
}
.log-container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    gap:0.5rem;
    padding-left:10rem;
    padding-right:10rem;
    min-width:800px;
}

#createdBy-span{
    grid-area: createdBy;
    span{
        color:$slate-200;
    }
}
#timeIn-span{
    grid-area: timeIn;
    span{
        color:$slate-200;
    }
}
#timeOut-span{
    grid-area:timeOut;
    span{
        color:$slate-200;
    }
}
#diveTime-span{
    grid-area:diveTime;
    span{
        color:$red-400;
    }
}
#diveSite-span{
    grid-area:diveSite;
    span{
        color:$slate-200;
    }
}
#maxDepth-span{
    grid-area:maxDepth;
    span{
        color:$violet-400;
    }
}
#avgDepth-span{
    grid-area:avgDepth;
    span{
        color:$green-400;
    }
}
#temp-span{
    grid-area:temp;
    span{
        color:$slate-200;
    }
}
#tankStart-span{
    grid-area:tankStart;
    span{
        color:$slate-200;
    }
}
#tankEnd-span{
    grid-area:tankEnd;
    span{
        color:$slate-200;
    }
}
#airUsed-span{
    grid-area:airUsed;
    span{
        color:$amber-400;
    }
}
#buddies-span{
    grid-area:buddies;
    span{
        color:$slate-200;
    }
}
#logBtns-span{
    grid-area:logBtns;
}
#diveComments-span{
    grid-area:diveComments;
    span{
        color:$slate-200;
    }
}

.log{
    background-color:$slate-800;
    border-radius:1.5rem;
    padding:1rem;
    width:90%;
    margin: 1rem;
    .log-data{
        color:$slate-500;
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "createdBy timeIn timeOut diveTime"
        "diveSite maxDepth avgDepth temp"
        "tankStart tankEnd airUsed buddies"
        "logBtns diveComments diveComments diveComments";
        .log-edit-delete{
            display:flex;
            justify-items:space-evenly;
            align-items:center;
            gap:0.5rem;
            .log-delete-btn{
                background-color:$slate-700;
                color:$slate-500;
                border-radius:0.5rem;
                padding:0.5rem;
                transition:$transition-time;
                &:hover{
                    background-color:$slate-600;
                    cursor:pointer;
                }
            }
            .log-edit-btn{
                background-color:$slate-600;
                color:$slate-300;
                border-radius:0.5rem;
                padding:0.5rem;
                transition:$transition-time;
                text-decoration:none;
                &:hover{
                    background-color:$slate-500;
                    cursor:pointer;
                }
            }
        }
    }
}

.add-log, .update-log{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.form{
    background-color:$slate-800;
    color:$slate-400;
    border-radius:1.5rem;
    padding:3rem;
    input, textarea{
        background-color:$slate-300;
        color:$slate-700;
        border:none;
        border-radius:0.25rem;
        padding:0.25rem;
    }
    .submit-btn{
        border:none;
        background-color:$slate-300;
        color:$slate-700;
        transition:$transition-time;
        &:hover{
            background-color:$slate-400;
        }
    }
}

.stats-container{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    div{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
}


.update-log-form{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    .form-form{
        display:grid;
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-template-rows: repeat(4, 1fr);
        gap:0.3rem;
        width:90%;
        label{
            text-align:right;
        }
        input{
            background-color:$slate-300;
            border:none;
            border-radius:0.5rem;
            padding:0.2rem 0.5rem;
            color:$slate-700;
        }
        .submit-btn {
            border:none;
            border-radius:0.5rem;
            background-color:$green-400;
            color:$slate-700;
            &:hover{
                background-color:$green-500;
            }
        }
    }
}


/* Chrome, Safari, Edge, Opera remove arrows from number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

